.homeSection {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  z-index: 0;
  justify-content: center;

  .slider {
    border: none;
    z-index: 1;
    margin-bottom: 0;

    .ul {
      position: relative;
      overflow: visible;
      list-style: none;
      padding: 0;
      z-index: 2;
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .homeSection {
    float: left;
    padding-bottom: 2em;
    padding-top: 0em;
    position: relative;
    width: 100%;
  }
}
