.selector {
  background-color: green;
  border-radius: 50%;
  border: 3px solid #c58cc4;
  height: 40px;
  left: 80px;
  margin: 0.5rem;
  position: absolute;
  top: 80px;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s;
  width: 40px;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}
