.sliderItem {
  background-position: 150%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  .card {
    left: 20%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    z-index: 5;

    &::before {
      background-color: var(--bg);
      border-radius: 15px;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.7;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 85%;
  }
}

@media screen and (max-width: 768px) {
  .sliderItem {
    background-position: bottom center;
  }
}
