.sliderItem {
  position: relative;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 400px;
  transition: background-image 2s ease-in-out;
  min-height: 100vh;
}

/*TODO: flex-control-nav*/

.sliderText {
  display: table;
  min-height: 500px;
  z-index: 9;
}

.sliderText > .sliderTextInner {
  position: relative;
  display: table-cell;
  min-height: 700px;
  padding: 2.5em;
  vertical-align: middle;
  text-align: center;
}

.sliderTextInner {
}

.desc {
  z-index: 5;
  left: 20%;
  animation-name: visible;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  padding: 1rem;
  position: relative;

  &::before {
    border-radius: 15px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--bg);
    opacity: 0.7;
  }
}

.sliderText > .sliderTextInner h1,
.sliderText > .sliderTextInner h2 {
  color: var(--blue);
  margin: 0;
  padding: 0;
  z-index: 999;
}

.sliderText > .sliderTextInner h1 {
  /* font-family: ; */
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .sliderText > .sliderTextInner h1 {
    font-size: 50px;
  }
}

.sliderText > .sliderTextInner h2 {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sliderText > .sliderTextInner h2 {
    font-size: 27px;
  }
}

.sliderText > .sliderTextInner h2 a {
  color: yellow;
  border-bottom: yellow;
}

.sliderText > .sliderTextInner p {
  /* font-family: ; */
  margin-bottom: 0;
}

.sliderText > .sliderTextInner .btn {
  width: 100%;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--dark-space-blue);
  border: 2px;
  padding: 10px 15px !important;
}

.sliderText > .sliderTextInner .btnDownload {
  color: pink;
  border: 1px solid lightblue;
  background: transparent;
}

.sliderText > .sliderTextInner .btnDownload:hover {
  color: lightgreen;
  border: 1px solid lightseagreen;
  background: transparent;
}

.photo0 {
  //   background-image: url(../../../assets/img/Pasaletras_mockup5.jpg);
  /* transition: all 1s ease-in-out; */
  height: 100vh;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .photo0 {
    background-size: auto;
    background-position: center center !important;
  }
}

.photo1 {
  //   background-image: url(../../../assets/img/Pasaletras_mockup7.jpg);
  /* transition: all 1s ease-in-out; */
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .photo1 {
    background-size: cover !important;
    background-position: center center !important;
  }
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85%;
  right: 0;
  padding: 10px;
  z-index: 999;
}

.active {
  border: 2px solid var(--dark-white);
  background: var(--dark-space-blue);
}

@media screen and (min-width: 768px) {
  .homeSection {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 0em;
    padding-bottom: 9em;
  }
}

@keyframes visible {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(30px);
  }
}
