.contact {
  align-items: center;
  // background: rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;

  .input {
    align-items: flex-end;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width: 100%;

    .icon {
      // font-size: 3rem;
      // border: 0.05rem solid black;
      color: var(--text);
      padding: 0.5rem;
      background-color: var(--book3);
    }
  }

  .buttons {
    display: flex;
  }
}
