@charset "UTF-8";

:root {
  --bg: #f9fafb;
  --black: #000000;
  --react: #61dafb;
  --text: #282c34;
  --white: #ffffff;

  --bg2: #e6ecf0;

  --animals: #36ae4a; /* Animales */
  --food: #06a9b1; /* Alimentos */
  --clothes: #2c429a; /* Ropa */
  --countries: #8e4599; /* Paises */
  --verbs: #edba1c; /* Verbos */
  --adjectives: #e36a25; /* Adjetivos */
  --brown: #9a6a28; /* Soluciones */
  --gray: #70604d; /* Fichas en blanco */

  --a1: #d71967;
  --a2: #bb1e61;
  --b1: #991d55;
  --b2: #82184b;
  --c1: #660e3c;
  --c2: #4a0c2e;

  --card-item-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4);
  --card-item-box-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.21), 0 6px 6px rgba(0, 0, 0, 0.25);

  --book: #5dbcd2;
  --book2: #53b2da;
  --book3: #eccc5c;

  --book4: rgba(236, 204, 92, 0.4);

  --pasapalabra: #4073de;
}

.dark-mode {
  --bg: #282c34;
  --placeholder: #ffffffb3;
  --text: #f9fafb;

  --bg2: #15202b;

  --card-item-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.6);
  --card-item-box-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.29), 0 6px 6px rgba(0, 0, 0, 0.33);

  --book2: #eccc5c;
  --book3: #53b2da;
  --book4: rgba(83, 178, 218, 0.4);
}

@font-face {
  font-family: 'GothamBlack';
  src: local('GothamBlack'), url(./assets/fonts/Gotham-Black.otf) format('truetype');
}

@font-face {
  font-family: 'GothamBold';
  src: local('GothamBold'), url(./assets/fonts/Gotham-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'GothamLight';
  src: local('GothamLight'), url(./assets/fonts/Gotham-Light.otf) format('truetype');
}

@font-face {
  font-family: 'GothamThin';
  src: local('GothamThin'), url(./assets/fonts/Gotham-Thin.otf) format('truetype');
}

@font-face {
  font-family: 'GothamThinItalic';
  src: local('GothamThinItalic'), url(./assets/fonts/Gotham-ThinItalic.otf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, GothamLight, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--bg); */
  background: linear-gradient(135deg, var(--bg2) -10%, var(--bg) 100%);
  /* background-color: var(--blue-light); */
  /* background: linear-gradient(135deg, var(--blue-light) -10%, var(--blue-dark) 100%); */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
  /* transition: background-color 2s ease-in-out !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.visible {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: visible;
  animation-timing-function: linear;
  /* animation-delay: 1s; */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
    -webkit-transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    -webkit-transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
    -webkit-transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    -webkit-transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes visible {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(30px);
  }
}
