.tabView {
  border: 0 none;
  position: relative;
  width: 100%;

  .tabNav {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;

    li {
      float: left;
      height: 2.6rem;
      list-style: none;
      margin: 0 0 1px 0;
      padding: 0;
      position: relative;
      white-space: nowrap;
    }

    @media screen and (min-width: 768px) {
      padding: 0 1rem;
    }
  }

  .tabPanels {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
  }
}

.headersWrapper {
  align-items: center;
  display: flex;

  .scrollTab {
    max-width: calc(100vw - 2rem);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-color: var(--bg);
    scrollbar-width: thin;
    text-overflow: unset;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .headersWrapper {
    padding: 1rem;

    .scrollTab {
      margin: 0 1.5rem;

      &::-webkit-scrollbar {
        display: block;
        height: 7px;
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: var(--scrollBar-track);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--scrollBar-thumb);

        &:hover {
          background: var(--scrollBar-thumb-hover);
        }
      }
    }
  }
}
