.p-tabview.p-tabview-top {
  border: 0 none;
  position: relative;
  width: 100%;

  .p-tabview-nav {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;

    li.p-tabview-nav-li {
      a {
        background-color: var(--tabview-bg);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: var(--tabview-border);
        color: var(--tabview-color);
        display: inline-block;
        float: none;
        font-weight: 700;
        opacity: 0.5;
        padding: 0.571rem 1.3rem;
        transition: background-color 0.2s, box-shadow 0.2s;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -moz-transition: background-color 0.2s, box-shadow 0.2s;
        -o-transition: background-color 0.2s, box-shadow 0.2s;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -webkit-transition: background-color 0.2s, box-shadow 0.2s;

        &:not(.p-disabled):focus {
          outline: 0 none;
          outline-offset: 0;
        }
      }

      &:not(.p-highlight):not(.p-disabled):hover {
        a {
          background-color: var(--tabview-highlight-bg-hover);
          border: var(--tabview-highlight-border-hover);
          color: var(--tabview-highlight-color-hover);
        }
      }

      &:not(:last-child) {
        a {
          margin-right: 2px;
        }
      }
    }

    li.p-tabview-nav-li.p-highlight {
      a {
        background-color: var(--tabview-highlight-bg);
        border-bottom: var(--tabview-highlight-border-bottom);
        border-left: var(--tabview-highlight-border);
        border-right: var(--tabview-highlight-border);
        border-top: var(--tabview-highlight-border);
        color: var(--tabview-highlight-color);
        opacity: 1;
      }

      &:hover {
        cursor: default;

        a {
          cursor: default;
        }
      }
    }

    @media screen and (min-width: 768px) {
      padding: 0 1rem;
    }
  }
}

.p-tabview {
  .p-tabview-nav li {
    float: left;
    height: 2.6rem;
    list-style: none;
    margin: 0 0 1px 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
  }

  .p-tabview-panels {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
  }
}
