.headersWrapper {
  display: flex;
  align-items: center;
}

.scrollTab {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: unset;
  scroll-behavior: smooth;
  max-width: calc(100vw - 2rem);
}

.iconHidden {
  display: none !important;
}
.iconsWrapper {
  display: flex;
  position: relative;
}
.navigationTabIcons {
  color: var(--black);
  cursor: pointer !important;
  font-size: 1.75rem !important;
  margin-top: 1.75px;
}
.navigationTabIcons:hover {
  color: var(--black);
}
.scrollTab {
  scrollbar-color: var(--bg) var(--c-custom-gray);
  scrollbar-width: thin;
}
.scrollTab::-webkit-scrollbar {
  display: none;
  width: 10px;
  height: 8px;
}

.scrollTab::-webkit-scrollbar-track {
  background: var(--bg);
  border-left: 1px solid var(--gray-25);
  border-right: 1px solid var(--gray-25);
}

.scrollTab::-webkit-scrollbar-thumb {
  background: var(--gray-75);
}

.scrollTab::-webkit-scrollbar-thumb:hover {
  background: var(--gray-50);
}

@media screen and (min-width: 768px) {
  .headersWrapper {
    padding: 1rem;
  }

  .scrollTab {
    margin: 0 1.5rem;
  }

  .scrollTab::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollTab::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scrollTab::-webkit-scrollbar-thumb {
    background: #888;
  }

  .scrollTab::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
